*.o
*.a
bin/*
.deps/
Makefile

config.log
config.status
libtool

src/activitygen/activitygen
src/dfrouter/dfrouter
src/duarouter/duarouter
src/jtrrouter/jtrrouter
src/marouter/marouter
src/netconvert
src/netedit/netedit
src/netgen/netgenerate
src/od2trips
src/polyconvert/polyconvert
src/stamp-h1
src/sumo
src/sumo-gui
src/tools/emissionsDrivingCycle
src/tools/emissionsMap
src/traci_testclient/TraCITestClient

__pycache__

.vagrant
*.log